nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    padding-right: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.75);
    font-family: 'Open Sans', sans-serif;
    z-index: 3;
    transition: .5s;
    
    &.nav-scroll{
        height: 70px;
    }
    
    .nav__logo{
        height: 72px;
        transition: .5s;
    
        img{
            max-width: 100%;
            height: 100%; 
            transition: .5s;
        }
    
        &.nav-scroll-logo{
            height: 62px;
        }
    }

    
    ul{
        text-align: center;
        transition: 1s;
        background: #fff;
    
        li{
            display: inline-block;
            padding: 0 12px;
            text-transform: uppercase;
        
            a{
                color: #262626;
                position: relative;
                
                .nav-menu-list__icon{
                    font-size: 15px;
                    color: #ff994d;
                }
                
                    
                &::after{
                    content: '\f1e3';
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400; 
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    font-size: 12px;
                    transition: .5s;
                    opacity: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
                
                &:hover{
                    
                    &::after{
                        opacity: 1;
                        box-shadow: 18px 1.5px 0 #262626, -18px 1.5px 0 #262626;
                    }
                }
            }
        }
    }
    
    .nav__toggle-icon{
        position: absolute;
        top: 50%;
        right: 75px;
        transform: translateY(-50%);
        padding: 10px;
        display: none;
        cursor: pointer;
        transition: .5s;
        
        .hamburger{
            width: 30px;
            height: 4px;
            background: #262626;
            position: relative;
            //box-shadow: 0 -9px 0 rgba(#262626, 1), 0 9px 0 rgba(#262626, 1);
            
            &::before, &::after{
                content: '';
                width: 30px;
                height: 4px;
                background: #262626;
                position: absolute;
                transition: .5s;
            }
            
            &::before{
                top: 10px;
            }
            
            &::after{
                top: -9px;
            }
            
        }
        
        &.hamburger-active{
            
            .hamburger{
                background: rgba(0,0,0,0);
            
            }
            
            .hamburger::before{
                top: 0;
                transform: rotate(45deg);
            }
            
            .hamburger::after{
                top: 0;
                transform: rotate(-45deg);
            }
            
        }
    
        i{
            font-size: 30px;
        
        }
    }
}

@media screen and (max-width: 805px){
    nav{
        padding-left: 30px;
        padding-right: 40px;
        ul{
            overflow: hidden;
            width: 100%;
            background: #fff;
            position: absolute;
            top: 80px;
            left: 0;
            height: 0px;
            transition: .5s;

            &.show{
                height: 316px;
            }
            
            &.nav-scroll-ul{
                top: 70px;
            }

            li{
                display: block;
                padding: 15px;
                border-bottom: 1px solid #EBEBEB;
                
                &:first-child{
                    border-top: 1px solid #EBEBEB;
                }
            } 
        }
        
        .nav__toggle-icon{
            display: block;
            right: 40px;
        }
    }   
    
}

@media screen and (max-width: 505px){
    nav{
        
        .nav__toggle-icon{
            right: 30px;
        }
    }
}


