.section-fourth{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    margin: 100px 0;
    font-family: 'Open Sans', sans-serif;
    
    .photo__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
        
        .photo{
            width: calc(100% / 4);
            height: 200px;
            overflow: hidden;
            position: relative;
            
            
             
            a{  
                position: relative;
                display: block;
                width: 100%;
                height: 200px;
                overflow: hidden;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    
                }
                
                &::after{
                    content: '17.01.2019';
                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(lightblue, .75);
                    text-align: center;
                    line-height: 200px;
                    font-size: 50px;
                    color: rgba(#fff, .75);
                    transition: .5s;
                }
                
                &:hover::after{
                    top: 0;
                }
            
            }  
            
            &.section-fourth__photo-1{
                a::after{
                    content: '15.01.2019';
                }
            }
            
            &.section-fourth__photo-2{
                a::after{
                    content: '13.01.2019';
                }
            }
            
            &.section-fourth__photo-3{
                a::after{
                    content: '11.01.2019';
                }
            }
        }
    }
}

@media screen and (max-width: 1300px){
    .section-fourth{
        
        .photo__wrapper{
            
            .photo{
                width: 30%;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .section-fourth{
        
        .photo__wrapper{
            
            .photo{
                
                a::after{
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .section-fourth{
        
        .photo__wrapper{
            
            .photo{
                
                a::after{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .section-fourth{
        display: none;
    }
}
