.section-third{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 90%;
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
    
    .post__wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .post{
            width: calc(25% - 20px);
            display: flex;
            flex-direction: column;
            margin: 5px 0;
            
            .post__img{
                
                .post__img--container{
                    position: relative;
                    overflow: hidden;
                    height: 200px;
                    border-bottom: 4px solid #ff994d;
                    
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                    
                    .post__img--title{
                        position: absolute;
                        width: 100px;
                        height: 40px;
                        left: 0;
                        bottom: 0%;
                        background: #ff994d;
                        font-family: 'Roboto', sans-serif;
                        z-index: 2;
                    
                        span{
                            text-transform: uppercase;
                            font-size: 14px;
                            line-height: 40px;
                            margin-left: 2px;
                            color: #fff;
                        }
                    }
                    
                    .overlay__img{
                        position: absolute;
                        top: -110%;
                        left: 0;
                        width: 100%;
                        height: 200px;
                        background: rgba(0,0,0, .5);
                        transition: .8s ease-in-out;
                        overflow: hidden;
                        
                        .overlay__img-contents{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #fff;
                            font-size: 18px;
                        }
                    }
                    
                    &:hover{
                        
                        .overlay__img{
                            top: 0;
                        }
                    }
                    
                }
                
                
                
                
            }
            
            .post__contents{
                text-align: left;
                padding: 10px;
                max-height: 240px;
                overflow: hidden;
                
                h2{
                    font-size: 18px;
                    font-weight: bold;
                    color: #262626;
                    //white-space: nowrap;
                    width: 100%;
                    height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }
                
                span{
                    font-size: 11px;
                    color: #464747;
                    
                    i{
                        font-size: 12px;
                    }
                }
                
                p{
                    margin-top: 5px;
                    font-size: 14px;
                    max-height: 115px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                
                .post__contents--button{
                    width: 60px;
                    height: 30px;
                    background: #262626;
                    margin-top: 10px;
                    position: relative;
                    font-family: 'Roboto', sans-serif;
                    overflow: hidden;
                    
                    span{
                        color: #fff;
                        font-size: 12px;
                        text-transform: uppercase;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1281px){
    .section-third{
        
        .post__wrapper{
            
            .post{
                width: calc(100% / 3 - 20px);
            }
        }
    }
}

@media screen and (max-width: 975px){
    .section-third{
        
        .post__wrapper{
            
            .post{
                width: calc(100% / 2 - 20px);
            }
        }
    }
}

@media screen and (max-width: 650px){
    .section-third{
        
        .post__wrapper{
            justify-content: center;
            .post{
                width: calc(100% / 1 - 20px);
            }
        }
    }
}