.leaders__section-first{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;
    margin-top: 100px;

    .leaders__wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .leader{
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px;
            padding: 30px;
            background: rgba(lightblue, .8);
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            z-index: 0;

            &::before{
                content: '';
                position: absolute;
                width: 135%;
                height: 600px;
                top: 30%;
                left: -35;
                border-radius: 45%;
                background: #ff994d;
                z-index: -1;
            }

            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: center center;
                border-radius: 50%;
                border: 5px solid #fff;
                transition: .5s;

                &:hover{
                    transform: scale(1.1);
                }
            }

            h1{
                font-size: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
                color: #262626;
                white-space: nowrap;
            }

            ul{

                li{
                    margin-bottom: 3px;
                    font-size: 15px;

                    i{
                        font-size: 12px;
                        width: 1.3rem;
                        margin-left: -1.3rem;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1200px){
    .leaders__section-first{

        .leaders__wrapper{
            
            .leader{

                img{
                    width: 150px;
                    height: 150px;
                }

                h1{
                    font-size: 18px;
                }

                ul li{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .leaders__section-first{

        .leaders__wrapper{
            width: 100%;

            .leader{
                width: 30%;
                margin: 0;

                img{
                    width: 150px;
                    height: 150px;
                }

                h1{
                    font-size: 18px;
                }

                ul li{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px){
    .leaders__section-first{
        margin-top: 50px;
        margin-bottom: 50px;

        .leaders__wrapper{
            width: 90%;
            flex-wrap: wrap;

            .leader{
                width: 100%;
                margin: 20px 0;

                img{
                    width: 175px;
                    height: 175px;
                }

                h1{
                    font-size: 18px;
                }

                ul li{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .leaders__section-first{
        margin-top: 50px;
        margin-bottom: 50px;

        .leaders__wrapper{
            width: 90%;
            flex-wrap: wrap;

            .leader{
                width: 100%;
                margin: 20px 0;

                img{
                    width: 150px;
                    height: 150px;
                }

                h1{
                    font-size: 16px;
                }

                ul li{
                    font-size: 13px;

                    i{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}