.leaders__section-first{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;
    margin-top: 100px;

    .leaders__wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .leader{
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px;
            padding: 30px;
            background: rgba(lightblue, .75);
            border-radius: 5px;

            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: center center;
                border-radius: 50%;
                -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
            }

            h1{
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 15px;
                color: #262626;
            }

            ul{

                li{
                    margin-bottom: 3px;
                    font-size: 15px;

                    i{
                        font-size: 12px;
                        width: 1.3rem;
                        margin-left: -1.3rem;
                    }
                }
            }
        }
    }

}